@tailwind base;
@tailwind components;
@tailwind utilities;

/** 
Tailwindcss
**/

.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar h1 {
  color: #fff;
  font-size: 1.75rem;
}

body {
  @apply h-screen flex flex-col bg-gradient-to-r from-slate-900 to-gray-900 text-gray-200;
}


